<md-content class="screen-root home-screen"
            ng-controller="homeController">
    <md-list>
        <md-card class="post-card card"
                 ng-repeat="post in posts"
                 ui-sref="main.posts.view({id: post._id})">
            <div layout="row" layout-align="start start">
                <div class="author">
                    <img ng-src="{{post.author.photo}}"
                         class="avatar"
                         alt="{{post.author.name}}"/>
                    <h4 style="margin: 0; font-weight: normal; max-width: 40px; font-size: 12px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                        {{post.author.name | characters:10}}</h4>
                </div>

                <div class="card-title" flex>
                    <h2 class="main-title">{{post.title}}</h2>

                    <h4 class="sub-title date">
                        {{post.createdAt | date :'dd-MM-yyyy'}}
                    </h4>
                </div>
            </div>

            <md-card-content class="card-content">
                    <span class="preserve-whitespace"
                          trim-text="post.content">
                        {{post.content | characters:200}}
                    </span>
                    <span class="read-more">
                        Read more
                    </span>
            </md-card-content>
            <md-divider></md-divider>
            <div class="card-footer">
                <span class="hash-tags">
                    <span class="tag" ng-repeat="tag in post.hashTags">
                        #{{tag}}
                    </span>
                </span>
                <span class="votes-indicator" layout="row" layout-align="end center">
                    <span class="number">{{post.votes.up}}</span>
                    <md-icon class="icon thumb thumb-up" md-svg-src="icons/ic_thumb_up_black_24px.svg"></md-icon>
                    <md-icon class="icon thumb thumb-down" md-svg-src="icons/ic_thumb_down_black_24px.svg"></md-icon>
                    <span class="number">{{post.votes.down}}</span>
                </span>
            </div>
        </md-card>
    </md-list>
</md-content>