<md-content class="screen-root view-post-screen md-padding"
            ng-controller="viewPostController">
    <div layout="row" layout-align="start start">
        <div class="author">
            <img ng-src="{{series.author.photo}}"
                 class="avatar"
                 alt="{{series.author.name}}"/>
            <h4 style="margin: 0; font-weight: normal; max-width: 40px; font-size: 12px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                {{series.author.name | characters:10}}</h4>
        </div>

        <div class="title" flex>
            <h2 class="main-title">{{series.title}}</h2>
        </div>
    </div>

    <div class="posts">
        <div ng-repeat="post in series.posts"
             class="post-item">
            <div layout="row" layout-align="start start">
                <div class="title" flex>
                    <h4 class="sub-title date">
                        {{post.createdAt | date :'dd-MM-yyyy'}}
                    </h4>
                </div>
            </div>
            <div class="post-actions">
        <span class="hash-tags">
            <span class="tag" ng-repeat="tag in post.hashTags">
                #{{tag}}
            </span>
        </span>
        <span class="votes-indicator" layout="row" layout-align="end center">
            <span class="number">{{post.votes.up}}</span>
            <md-icon class="icon thumb thumb-up"
                     md-svg-src="icons/ic_thumb_up_black_24px.svg"
                     ng-class="{active: post.currentUserVote==='up'}"
                     ng-click="setVote('up')">
            </md-icon>
            <md-icon class="icon thumb thumb-down"
                     md-svg-src="icons/ic_thumb_down_black_24px.svg"
                     ng-class="{active: post.currentUserVote==='down'}"
                     ng-click="setVote('down')">

            </md-icon>
            <span class="number">{{post.votes.down}}</span>
        </span>
            </div>
            <div class="post-content md-padding">
                {{post.content}}
            </div>
        </div>
    </div>
</md-content>